<h1>
  Subjects
  <div class="float-end">
    <!-- Platz für optionale rechts-ausgerichtete Inhalte -->
  </div>
</h1>

<br>

<%= render partial: "admin/subjects/subjects", locals: {subjects: @subjects} %>
