<h1>
  Grows
  <div class="float-end">
    <%= link_to new_admin_grow_path, class: "btn btn-primary" do %>
      <i class="fas fa-plus"></i> Grow
    <% end %>
  </div>
</h1>

<h4>Running Grows</h4>
<%= render partial: "grows/grows", locals: {grows: @grows.where.not(grow_status: [:aborted, :done]) } %>

<h4>Terminated Grows</h4>
<%= render partial: "grows/grows", locals: {grows: @grows.where(grow_status: [:aborted, :done]) } %>
