<h1>
	Subjects QR
	<div class="float-end">
		<%= link_to 'Back', [:admin, @grow], class: "btn btn-light border" %>
		<%= link_to '#', onclick: 'window.print();return false;', class: "btn btn-outline-primary" do %>
			<i class="fas fa-print"></i> Print
		<% end %>
	</div>
</h1>

<hr>

<div class="row">
	<% @grow.subjects.each do |subject| %>
		<div class="col-4">
			<%= image_tag subject.generate_qr(5), class: "qr-code d-block mx-auto" %>
			<p class="text-center">
				<%= link_to subject.name, [:admin, subject.grow, subject] %>
			</p>
		</div>
	<% end %>
</div>
