<div class="row mb-4">
  <div class="col-12">
    <h6>Resources</h6>
    <% data = Resource.all.map { |resource|
        {
          name: resource.name,
          data: Subject.find(1).observation_resources.where(
            resource_id: resource.id
          ).group("observation_resources.id").group_by_day(:created_at).map { |e|
            [fdatetime(e.created_at), e.value]
          }
        }
      }.compact %>
    <% # binding.pry %>
    <%= line_chart data,
      adapter: "highcharts",
      color: "lightblue",
      library: {
        chart: {
          type: "spline",
          zoomType: 'x',
          panning: true,
          panKey: 'shift'
        },
        yAxis: {
          visible: false
        },
        xAxis: {
          visible: true
        },
        plotOptions: {
          spline: {
            marker: {
              enabled: true,
              radius: 4
            }
          }
        }
      } %>
  </div>
</div>