<h1>
  Subjects
  <div class="float-end">
    <!-- Hier kannst du zusätzliche Elemente oder Buttons platzieren, falls nötig -->
  </div>
</h1>

<br>

<%= render partial: "subjects/subjects", locals: {subjects: @subjects} %>
