/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap_custom';
@import "dhtmlx-scheduler/codebase/dhtmlxscheduler";
@import 'flatpickr/dist/flatpickr.min';

//@import "/Users/dirk.kramer/Projects/magicbox-enhanced/node_modules/dhtmlx-scheduler/codebase/dhtmlxscheduler.css";
 //@import "dhtmlxscheduler";
 //@import "simple_calendar";

 //@import "bootstrap4-toggle";
 //@import "tempusdominus-bootstrap-4.css";

 @import "sidebar";
 @import "grows";

$grid-breakpoints: (
  xs: 0,
  sm: 720px,
  md: 980px,
  lg: 1280px
);

$container-max-widths: (
  sm: 420px,
  md: 720px,
  lg: 960px
);

.timeline-dot {
  width: 10px;
  height: 10px;
  float: right;
  relative: inline;
  position: absolute;
  right: -5.5px;
  top: 33px;
  border-radius: 5px;
}

/*
    popover
*/

.popover {
  max-width: 400px;
}



/*
    SIDEBAR
*/


body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

#wrapper {
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

i,
span {
  display: inline-block;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#main-content {
  padding: 0px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  left: 200px;
}


#content.active {
  width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -200px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #content {
    overflow-y: auto;
    padding: 1em;
  }

  #content.active {
    width: calc(100% - 200px);
  }

  #sidebarCollapse span {
    display: none;
  }
}

@media (max-width: 767px) {
  .btn-xs-block {
    display: flex;
    width: 100%;
  }

  /*
        Extra config:
        .btn-xs-block .btn {
            flex-grow: 1;
        }
    */
  input[type="submit"].btn-xs-block,
  input[type="reset"].btn-xs-block,
  input[type="button"].btn-xs-block {
    width: 100%;
  }

  .btn-block+.btn-xs-block,
  .btn-xs-block+.btn-block,
  .btn-xs-block+.btn-xs-block {
    margin-top: 0.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .btn-sm-block {
    display: flex;
    width: 100%;
  }

  input[type="submit"].btn-sm-block,
  input[type="reset"].btn-sm-block,
  input[type="button"].btn-sm-block {
    width: 100%;
  }

  .btn-block+.btn-sm-block,
  .btn-sm-block+.btn-block,
  .btn-sm-block+.btn-sm-block {
    margin-top: 0.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .btn-md-block {
    display: flex;
    width: 100%;
  }

  input[type="submit"].btn-md-block,
  input[type="reset"].btn-md-block,
  input[type="button"].btn-md-block {
    width: 100%;
  }

  .btn-block+.btn-md-block,
  .btn-md-block+.btn-block,
  .btn-md-block+.btn-md-block {
    margin-top: 0.5rem;
  }
}

@media (min-width: 1200px) {
  .btn-lg-block {
    display: flex;
    width: 100%;
  }

  input[type="submit"].btn-lg-block,
  input[type="reset"].btn-lg-block,
  input[type="button"].btn-lg-block {
    width: 100%;
  }

  .btn-block+.btn-lg-block,
  .btn-lg-block+.btn-block,
  .btn-lg-block+.btn-lg-block {
    margin-top: 0.5rem;
  }
}