.sidebar-wrapper {
  min-height: 100vh;
  background-color: #708090;
}

.sidebar .sidebar-header {
  background-color: #657382;
}

.sidebar {
  width: 250px;
  min-height: 100vh;
  transition: margin-left 0.3s ease-in-out;
  font-size: 1.1em;

  .nav.flex-column a {
    display: block;
    top: 4px;
    position: relative;
  }
  .nav-item {
    .dropdown-toggle:after {
      display: block;
      position: relative;
      float: inline-end;
      margin-right: 25px;
      margin-top: 10px;
    }
    a {
      padding: 10px
    }
  }
  .submenu .nav-item {
    font-size: 0.9em;
    a {
      margin-left: 10px;
    }
   }
}

.sidebar li.nav-item:hover {
  background-color: #96a1ae;
}

.sidebar li.nav-item.active {
  background-color: #96a1ae;
}

.main-wrapper {
  min-height: 100vh;
}

.content {
  min-height: calc(100vh - 56px);
  /* 56px is the default Bootstrap navbar height */
}

/* Sidebar collapsed state */
.sidebar-collapsed .sidebar {
  margin-left: -250px;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    z-index: 1000;
    margin-left: -250px;
  }

  .sidebar.show {
    margin-left: 0;
  }
}
